<div class="mb-4 mt-2 d-flex">
  <%= link_to "<i class='bi bi-arrow-left-circle-fill fs-2 link-light link_underline_opacity_0'></i>".html_safe, :back %>
  <h1 class="mb-2 ms-4">New BTU Output record</h1>
</div>

<%= render "form", btu_output: @btu_output %>