<p style="color: green"><%= notice %></p>

<%= render partial: "btu_output" %>

<div>
  <%= link_to "Edit this BTU Output", edit_btu_output_path(@btu_output), class: "btn btn-primary" %> |
  <%= link_to "Back to BTU Output Search", btu_outputs_path, class: "btn btn-primary" %>

</div>
